
<h1> Login </h1>

<form class="" action="/password/public/login" method="post">
    
    <input type="hidden" name="{{nameKey}}" value="{{name}}">
    <input type="hidden" name="{{valueKey}}" value="{{value}}">
    <input type="submit" name="" value="login">

</form>