
<h1> Register </h1>

<form class="" action="{{base_url()}}/register" method="post">
    
    {{ csrf_field() | raw }}
    <input type="" name="email">
    <input type="password" name="password">
    <input type="submit" name="" value="register">

</form>